@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
body b {
    font-weight: bold;
    color: orangered;
}
* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.192);
}
header h1 {
    margin-right: 50px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
}
nav div {
    margin: 10px;
    justify-content: center;
}
.mai {
    display: flex;
}
.barra {
    background-color: rgba(231, 231, 231, 0.901);
    width: 30%;
    color: orangered;
    list-style:none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.titulo{
    justify-content: center;
    display: flex;
}
li{
    margin: 10px;
}
main section {
    margin: 10px;
}
p {
    text-align: justify;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
iframe {
    border-radius: 10px;
}
