* {
    margin: 0px;
}
header {
    background: #F82C1B;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    text-align: center;
}
#titulo {
    height: 80%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.secao1 {
    width: 600px;
height: 80px;
display: flex;
background:#F8A81B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 62px;
justify-content: center;
}
#nome-receita {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    color: rgb(251, 247, 247);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2195f300;
    padding: 10px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
#comida{
    width: 542px;
    height: 355px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius: 20px;
}
#ingredientes {
width: 303px;
height: 355px;
margin: 5px;
background-color: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
border-radius: 12px;
} 
footer{
    width: 100%;
height: 80px;

background: #373434;
box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
#lista1 {
    font-size:large;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}
.scroll{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
}  
/* 
.grid {
    display: grid;
 grid-template-columns: repeat(20, 1fr);
 grid-template-rows: repeat(4, 75px);
}

#photo {
    grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 0;
}

*/